@import "tailwindcss";
@plugin '@tailwindcss/typography';



img {
    max-height: 500px;
    object-fit: contain;
}


body {
  font-family: 'Noto Sans JP', sans-serif;
}

.serif {
  font-family: 'Noto Serif JP', serif;
}
