@import "tailwindcss";
@plugin '@tailwindcss/typography';



img {
    max-height: 500px;
    object-fit: contain;
}


body {
  font-family: Helvetica,  "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "verdana", sans-serif;
}