---
import BaseLayout from '../../layouts/BaseLayout.astro';
import TagButton from '../../components/TagButton.astro';
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle="タグ一覧">
    <div class="text-center my-15">
      <h1 class="text-4xl font-bold mx-5">すべてのタグ</h1>
      <p class="mt-3 post-date underline"><a href="/blog/">記事一覧へ戻る</a></p>
    </div>

    <div class="flex flex-wrap">
        {tags.map((tag) => (
            <p class="tag"><TagButton tag={tag} /></p>
        ))}
    </div>
</BaseLayout>