---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---


<BaseLayout pageTitle={pageTitle}>
  <div class="p-5">
    準備中...<br />
    ブログサイトです。 <a href="/blog/" class="underline">ここからブログの記事一覧を見ることができます。</a>
  </div>
</BaseLayout>