---
const {title, url, pubDate, icon} = Astro.props;
---

<li class="p-0 m-0">
    <a href={url} class="block transition-all duration-200 hover:scale-101 active:scale-95 group">
        <div class="flex p-4 rounded-lg hover:bg-gray-50 active:bg-gray-50">
            <div class="bg-white w-16 h-16 flex-shrink-0 flex items-center justify-center rounded-lg mr-4 shadow-sm">
                <div class="text-3xl">
                    {icon}
                </div>
            </div>
            <div class="justify-between">
                <h2 class="text-xl mb-1 font-semibold group-hover:underline">{title}</h2>
                <p class="text-xs text-gray-500">{pubDate && pubDate.toString().slice(0,10)}</p>
            </div>
        </div>
    </a>
</li>
