---
import Navigation from './Navigation.astro';
---
<header>
  <nav class="w-full bg-white p-3 border-b-1 border-gray-300">
    <div class="flex justify-between items-center max-w-5xl mx-auto">
      <div>
        <button class="text-4xl font-bold"><a href="/blog/">たか</a></button>
      </div>
      <div class="flex">
      </div>
    </div>
  </nav>
</header>