---
import type { GetStaticPaths } from "astro";
import BaseLayout from './BaseLayout.astro';
import TagButton from '../components/TagButton.astro';
const { frontmatter } = Astro.props;

import twemoji from "twemoji";
import { getCollection, getEntryBySlug } from "astro:content";

const emoji = twemoji.parse(
  frontmatter.icon,
  { base: 'https://cdn.jsdelivr.net/gh/twitter/twemoji@latest/assets/' }
);

---

<BaseLayout pageTitle={frontmatter.title}>


<div class="text-center my-15">
  <div class="text-center my-15">
  <h1 set:html={emoji} class="text-5xl mb-4 inline-block"></h1>
  <h1 class="text-4xl font-bold mx-5 mb-3 text-gray-900">{frontmatter.title}</h1>
  <p class="text-gray-600 text-lg">{frontmatter.pubDate.toString().slice(0,10)}</p>
</div>
</div>

    <div class="p-5 font-bold underline">
      <a href="/blog/" class="hover:text-gray-950">記事一覧に戻る</a>
    </div>

      <div class="not-prose">
        {frontmatter.tags.map((tag: string) => (
          <TagButton tag={tag} />
        ))}
      </div>

    <div class="prose prose-a:underline prose-a:hover:text-red-700 max-w-5xl mx-auto transition-colors bg-white px-8 pt-8 pb-20">
      <slot />
    </div>


</BaseLayout>
